trash/algo.txt
trash/dockerfile
result.txt
trash/rli2.exe
sorted_test_pass1.txt
sorted_test_pass2.txt
sorted_test_pass3.txt
trash/sort_rockyou.txt
test_pass1.txt
test_pass2.txt
wordlists.txt
trash/задача.txt
wordlists
test_pass3.txt
trash/draft.py
trash
result_wordlists.txt